<!Document html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1><%= settings.title%></h1>
<p>Express sotck photo application.</p>
<div id="photos">
    <% photos.forEach(function (photo) { %>
        <div class="photo">
            <h2><%= photo.name %></h2>
            <a href="/list/photo/<%=photo.id%>/download">
            <img src="/photos/<%=photo.path %>" />
            </a>
        </div>
    <% })%>
</div>
</body>
</html>